.titre-moi{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
    color:#1c41b0;
}
.posi{
    height: 25px;
    margin-top: -50px;
    margin-bottom: 50;
    margin-left: 5px;
    margin-right: 5px;
}

header {
    position: relative;
    position: fixed;
    z-index: 10;
    width: 100%;
} 
span{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}
.abrev{
    color:#1c41b0;
    font-family: 'Parisienne', cursive;
    font-size: 74px;
}

.whatYouDo p{
    font-family: 'Comfortaa';
    text-justify: newspaper;
    color: black;
    margin-left:30px; 
    
}
.whatYouDo h2{
    font-family: 'Dancing Script', cursive;
    color:#1c41b0;
    font-size: 38px;
    margin-left:30px; 

}

.categorie h1 {
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 7px rgba(0,0,0, 0.5); 
}
.categorie p{
    font-family: 'Comfortaa', cursive;
    text-shadow: 0 0 7px rgba(0,0,0, 0.5);
}
.categorie{
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.categorie a{
    text-decoration: none;
}
.publication{
    color: #1c41b0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
}
.slide_pub img{
    width: 100%;
    height: 285.34px;   
}
.slide_pub .tile{
    color: #1c41b0;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;

}
.slide_pub .date{
    color: black;
    font-size: 16px;
    font-family: 'Comfortaa';

}
.slide_pub{
    margin: 40px;
}
.divider{
    width: 50%;
    display: block;
    margin: 0 auto;
    border:1px solid #f2f2f2;
}

.krea img{
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;

}
.krea_back{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

.krea_text {
    font-family: 'Dancing Script', cursive;
    color: #1c41b0;
    

}


/* footer*/

.footer_back{
    margin-top: 100px;
    background-color:  #153184;
    padding: 20px;
    color: white;
    text-justify: newspaper;
}

.footer_block h3{
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
    text-align: center;
}
.face{
    text-align: center;
}

.footer_block h3,h4,p{
color :white;
} 
.categ li{
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
}
.categ a{
    list-style: none;
    text-decoration: none;
}
.categ a:hover{
    text-shadow: 0 0 .001px white;
    color: white;

}
.categ a::after {
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.dev{
    font-family: 'Comfortaa';
    font-size: 16px;
}
.footer_back .copy {
    margin-top: -20px;
    text-align: center;
}